// Import Libs
// 
// 
@import '../_sass/site/mixins/mixins';
@import '../_sass/site/vars';
@import '../../../node_modules/paymentfont/css/paymentfont.min.css';
// 
// 
// Style Admin Area
// 
// 
// General
// 
// 
// Hero
// 
// 
// Placement
.acf-field[data-name="placement"] {
    div.acf-button-group {
        display: flex;
        flex-flow: row wrap;
        width: 150px;
        height: 150px;

        label {
            flex: 1 0 25%;
            padding: 0;
            color: white;
            font-size: 0;

            &.selected {
                color: #309cf3;
            }
        }
    }
}



// buttonset
div#input_site_section_styles-hero-alignment.buttonset {
    $blue : #00a0d2;
    box-sizing: border-box;
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    display: flex;
    flex-flow: row wrap;    
    > input {

    }
    > label {
        flex: 1 1 30%;
        width: (100% / 3);
        border: 1px solid rgba(black, 0.33);

        &:hover, &:focus, &:active {
            background-color: rgba($blue, 0.33);
        }
        @include aspectRatio();
    }   
}